fastapi>=0.100.0
uvicorn>=0.20.0
requests>=2.28.0
pydantic>=2.0.0
httpx>=0.24.0
langgraph
langchain-core
langchain-google-genai
python-dotenv
langchain-openai
mcp
ddgs
llama-parse
qdrant-client
rank-bm25
flashrank
nest-asyncio
langchain-text-splitters
google-api-python-client>=2.0.0
google-auth>=2.0.0
sqlalchemy
cryptography
sqlparse
psycopg2-binary
pymysql
pymongo




